body {
    margin:0;
    padding:0;
}
#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}
.d3-vec { position:absolute; }
path {
    fill: #000;
    fill-opacity: .2;
    stroke: #fff;
    stroke-width: 1.5px;
}
.d3-vec:hover path {
    fill: brown;
    fill-opacity: .7;
}